blockquote {
  background-color: #125993;
  padding: 1rem;
  margin: 1rem 0 0 0;
  font-style: italic;
  color: #fff;
  border-radius: 20px 20px 0 0;
  border: none;
}

cite,
.attribution {
  background-color: #000;
  color: #fff;
  display: block;
  text-align: right;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
  font-size: 0.9rem;
  margin: -1.01rem 0 1rem 0;
}
